body {
    background-color: rgb(0, 98, 128);
    height: 98vh;
    display: grid;

    place-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.calc {
    display: grid; 
    border: 1px solid black;

    width: 21vw;
    height: 65vh;
 
    grid-template-columns: 1fr 1fr 1fr [operateur] 1fr;
    grid-template-rows: [entry] auto [delete] repeat(5, 1fr);

    grid-auto-columns: 100px;
    grid-auto-rows: 100px;

    grid-auto-flow: row dense;

}

.calc > button {
    place-content: center;
    
    border: 1px solid black;
    background-color: rgb(110, 110, 110);
    font-size: x-large;
}

.calc > button:hover{
    background-color: white;
    cursor: pointer;
}

.calc > button:active {
    background-color: aqua;
}

.entry {
    grid-column: 1/-1;
    grid-row: entry;

    align-content: center;
    text-align: end;

    padding-right: 5px;
    border-bottom: 1px solid black;
    background-color: black;
    margin: 0;
    color: white;
    font-size: 4em;
}

.operateur {grid-column: operateur;}

.delete {grid-row: delete;}

.span-2 {grid-column-start: span 2;} 

#div {grid-row: 2;}
#mul {grid-row: 3;}
#sous {grid-row: 4;}
#add {grid-row: 5;}
#egal {grid-row: 6; grid-column: span 2/-1}
#point {grid-column: 1; grid-row: 6}








